openapi: 3.0.3

info:
  title: IAM Core API
  description: API for user and role management
  version: 1.0.0

servers:
  - url: http://localhost:8080

paths:
  /users:
    post:
      summary: Create a user
      operationId: createUser
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully

        '400':
          description: Invalid input

        '500':
          description: Something went wrong
  /roles:
    post:
      summary: Create a role
      operationId: createRole
      tags:
        - Roles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Role created successfully

        '400':
          description: Invalid input

        '500':
          description: Something went wrong



components:
  schemas:
    CreateUserRequest:
      type: object
      required:
        - username
        - email
        - password
        - fullname
      properties:
        username:
          type: string
          example: sina
        email:
          type: string
          format: email
          example: sina@example.com
        password:
          type: string
          format: password
          example: secret123
        fullname:
          type: string
          example: sina
    CreateRoleRequest:
      type: object
      required:
        - rolename
        - description
        - owner
      properties:
       rolename:
          type: string
          example: sinaRole
       owner:
          type: string
          example: myUsername
       description:
         type: string
         example: test_role